@tailwind base;
@tailwind components;
@tailwind utilities;

.progress {
  height: 10px;
  width: 0%; /* Starts with 0% width */
  background-color: rgb(255, 17, 0); /* Ensure visibility with color */
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.25s ease-out; /* Smooth transition */
  z-index: 9999; /* Ensure it stays on top */
}
